version: "3.9"
services:
  api:
    build: ./server
    container_name: luna_api
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: luna_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
