/* client/src/styles/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom styles */
:root {
  --bg-start: #f0f7ff;
  --bg-end: #eef6fb;
}

body {
  @apply bg-gradient-to-br from-sky-50 to-indigo-50;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
